<div class="dashboard">
  <div class="dashboard__header">
    <div class="dashboard__header__text">
      <h1>Dashboard</h1>
    </div>
  </div>
  <div class="dashboard__card">
    <!-- bialy panel z formualrze -->
    <form class="dashboard__form" [formGroup]="form" (ngSubmit)="onSave()">
      <div class="dashboard__form__field">
        <div class="dashboard__form__field__datepicker">
          <label for="p-datepicker">Date</label>
          <br />
          <p-datepicker
            formControlName="date"
            dateFormat="dd.mm.yy"
            [showIcon]="true"
            [showOnFocus]="true"
            [iconDisplay]="'input'"
            [placeholder]="'dd.mm.yyyy'"
          />
        </div>

        <div class="dashboard__form__field__weigth">
          <label for="minmax-buttons">Weigth</label>
          <br />
          <p-inputnumber
            formControlName="weigth"
            inputId="minmax-buttons"
            [max]="100"
            [min]="0"
          />
        </div>

        <div class="dashboard__form__field__creatine">
          <p-checkbox formControlName="tookCreatine" [binary]="true" />
          <label>Creatine</label>
        </div>

        <div class="dashboard__form__field__comment">
          <label>Comment</label>
          <br />
          <textarea
            formControlName="comment"
            rows="5"
            cols="30"
            pTextarea
          ></textarea>
        </div>

        <button
          pButton
          class="dashboard__form__field__save p-button-rounded p-button-lg"
          severity="secondary"
          type="submit"
        >
          <span pButtonLabel>Save</span>
        </button>
      </div>
    </form>
  </div>
  <div class="horizontal__navigation"></div>
</div>
